body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 265px;
}

.navbar-brand img {
    max-height: 80px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
    text-align: left;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-items: center;
}


input[type="search"] {
    min-width: 400px !important;
}

.site-footer {
    background-size: cover;
    background-position: bottom;
    margin-top: 15px;
    width: 100%;
    background-color: #f8f9fa;
    color: #26272b;
    padding: 20px 0 20px;
    font-size: 15px;
    line-height: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}
